<!DOCTYPE html> 
<html>
    <head>
        <title>CHECK THE DAY</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
            body {background-color: #000066;}
            h1 {color:white;
                font-family:Gill Sans, sans-serif;}
            .col-lg-6 { padding-top:50px;
        </style>
    </head>
    <body>
        <center>
            <h1>IH Schedule</h1>
            <h1>What day is it?</h1>
        <img src="https://i.pinimg.com/736x/a7/15/a3/a715a308a27036d8f360d4cb9108b435--schools-in-family-history.jpg" width=400 height=300>
        <form method="POST" action= "/results">
        <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="mm-dd" name="date">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Submit</button>
              </span>
            </div>
        </div>
        </form>
        </center>

    </body>
</html>