<!DOCTYPE html>
<html>
    <head>
        <title>Day</title>
         <style>
            body {background-color: pink;}
            h1 {color:white;
                font-family:Gill Sans, sans-serif;}
        </style>
    </head>
    <body>
        <center><h1>TODAY IS A DAY <%= @ih_day %></h1></center>
        <center><img src="https://images3.privateschoolreview.com/photo/780x600/2000/2471/Immaculate-Heart-High-School-Middle-School-DxkysF.jpg" width=400 height=300 ></center>

    </body>
</html>
    
